body {
	text-align: left;
	margin: 4.5em 6em 6em 10em;
	max-width: 36em;
	font-size: 1em;
	font-family: serif;
	color: #000;
	background-color: #fff;
	/* d1c61d yellow
	   adadad grey

	*/
}

.col3 {
	-webkit-column-count: 3;
	-webkit-column-width: 10em;
  	-moz-column-count: 3;
	-moz-column-width: 10em;
	column-count: 3;
	column-width: 10em;
	/*column-rule: dotted 1px #333;*/
	list-style-type: none;
	padding-left: 0;
}

header {
	float:left;
	position: fixed;
	top: 4em;
	left: 3em;
}

ul.col3 li {
	margin-bottom: 0.5em;
	display: inline-block;
	width: 100%;
}

p {
	line-height: 1.5;
}

h1 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	width: 66%;
	margin-bottom: 1em;
}

h2 {
	font-family: sans-serif;
	font-weight: bold;
	margin: 1.8em 0 0.4em 0;
	padding: 0;
	font-size: 1em;
}

h3 {
	padding: 0;
	font-size: 0.9em;
}

figure {
	padding: 0;
	margin: 1.5em 0 3em 0;
}

li {
	line-height: 1.5em
}

img {
	max-width: 100%;
}

img.logo {
	width: 48px;
	height: 48px;
}

figure img {
	width: 100%;
}

figure figcaption {
	padding-left: 0.5em;
	padding-top: 0.5em;
	font-family: sans-serif;
	font-size: 0.8em;
	width: 40%
}

a:link {
	/*color: rgb(0,114,178);*/
	color: #000;
	text-decoration: underline	;
}

a:visited {
	color: #adadad;
	text-decoration: none;
}

a:hover {
	color: #e00;
}

a:active {
	color: #e00;
}

table {
	border-collapse: collapse;

}

table, th, td {
	 border: 1px solid #ccc;
	 padding: 0.25em 1em;
}
