body {
  background-color: #d1d1d1;
  width: 40em;
  max-width: 100%;
  margin: 5em auto 5em 5em;
}

p {
  line-height: 1.5;
}
/*
h1 span {
  color: #111111;
  color: #fffff9;
  background-color: #fffff9;
  background-color: #ef5541; 
  padding: 0.1em;
}
*/

nav h1 {
  color: #111111;
  font-family: serif;
  font-size: 2.0em;
  font-weight: bold;
  letter-spacing: -0.05em;
  padding-bottom: 1em;
  line-height: 0.8em;
}

nav h2 {
  color: #fffff9;
  font-family: serif;
  font-size: 1.0em;
  font-weight: bold;
  letter-spacing: -0.05em;
  padding-bottom: 1em;
  line-height: 0.8em;
}

nav h2 a {
  color: #fffff9;
  font-decoration: none;
}

a {
  color: #ef5541;\
}
