body {
  font-family: sans-serif;
  color: #111111;
  background-color: #ffffff;
  width: 40em;
  max-width: 100%;
  margin: 2em auto 5em auto;
  line-height: 1.5;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

blockquote {
  margin: 0;
  padding: 1em 2em;
  font-style: italic;
}

pre {
  background-color: #d1d1d1;
  padding: 1em;
  margin: 0em;
  line-height: 1.5;
}

code {
  padding: 0em !important;
  margin: 0em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  margin-bottom: 0.5em;
}

/* Park Imminent wordmark */

header h1 {
  font-family: serif;
  font-size: 2.0em;
  font-weight: bold;
  letter-spacing: -0.05em;
  padding-bottom: 1em;
  line-height: 0.8em;
}

header h2 {
  font-family: serif;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: -0.05em;
  padding-bottom: 1em;
  line-height: 0.8em;
}

header h2 a {
  text-decoration: none;
  background-color: inherit;
  padding-left: 0em;
  padding-right: 0em;
}

/* links */

a {
  color: #111111;
  background-color: #ef5541
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-decoration: none;
}

a:anylink {
  text-decoration: none;
}

.index_by_date {
  list-style: none;
  padding: 0;
  line-height: 1.8;
}

.index_by_date li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index_by_date h2 {
  font-size: 1.0em;
  display: inline;
  font-weight: normal;
  flex: 0 60%;
  margin: 0;
  padding: 0;
} 

.index_by_date h3 {
  color: #d1d1d1;
  padding: 0;
  margin: 0;
  font-size: 1.0em;
  display: inline;
  font-weight: normal;
  flex: 0 20%;
}

.index_by_date time {
  color: #d1d1d1;
  flex: 0 20%;
  padding: 0;
  margin: 0;
  display: inline;
}

