body {
  padding: 10% 10%;
  line-height: 1.4;
  font-size: 1.0em;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  background-color: #d1d4cd;
  color: #000000;
}

.site-name {
  position: fixed;
  float: left;
  font-family: serif;
  font-size: 2.0em;
  font-weight: bold;
  letter-spacing: -0.05em;
  padding-bottom: 3em;
  padding-right: 1em;
  line-height: 0.8em;
}

.c_article {
  float: right;
  width: 36em;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.5;
  font-size: 1.2em;
}

.meta {
  font-size: 0.7em;
  padding-bottom: 2em;
}

i, em {
  font-style: italic;
}

a {
  color: #00445b;
  text-decoration: none;
}

p {
  /*text-indent: 2em;*/
  margin: 0.8em 0;
}

li {
  margin: 0.25em 0em;
}

h1 {
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em 0 0.5em 0;
  line-height: 1.8;
}

h2 {
  padding: 0 0 0.5em 0;
  margin: 1.5em 0 0.5em 0;
  font-weight: bold;
  border-bottom: 1px dashed;
}

h3 {
  margin: 2em 0 0.5em 0;
  text-align: center;
  font-weight: bold;
}

.task-list-item-checkbox  {
  margin-right: 1em;
}

table {
  margin: 1em 0;
  width: 100%;
  font-size: 0.8em;
}
table, th, td {
  border-collapse: collapse;
  padding: 0.5em 0.75em;
  background-color: #ffffff;
}

strong {
  font-weight: bold;
}

img {
  width: auto;
  height: auto;
  right: 0em;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
