body {
  padding: 10% 10%;
  line-height: 1.4;
  font-size: 1.5em;
  font-family: serif;
  background-color: #d1d4cd;
  color: #000000;
}

article {
  width: 36em;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.5;
  font-size: 18px;
}

@media only screen and (max-width: 320px) {
  article {
    font-size: 16px;
  }
}

a {
  color: #00445b;
  text-decoration: none;
}

p {
  margin: 0.5em 0em 0.5em;
}

li {
  margin: 0.25em 0em;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.05em;
    padding-bottom: 0.5em;
    line-height: 0.8em;
}

h1 { font-weight: normal; font-size: 2.8em; }
h2 { font-weight: bold; font-size: 1.6em; }
h3 { font-weight: bold; font-size: 1.2em; }

table, th, td {
  padding: 0.50em;
  border-collapse: collapse;
}

strong {
  font-weight: bold;
}

.site-name {
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: -0.05em;
  padding-bottom: 0.5em;
  line-height: 0.8em;
}

.container {
  display: flex; /* or inline-flex */
  margin-top: 3em;
}

.c_title {
  flex: 1 1 25%;
  padding-left: 0%;
  padding-right: 10%;
}

.c_article {
  flex: 1 1 75%;
}
