body {
  padding: 10% 10%;
  line-height: 1.4;
  font-size: 1.0em;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  background-color: #d1d4cd;
  color: #000000;
}

.site-name {
  position: fixed;
  float: left;
  font-family: serif;
  font-size: 2.0em;
  font-weight: bold;
  letter-spacing: -0.05em;
  padding-bottom: 3em;
  padding-right: 1em;
  line-height: 0.8em;
}

.c_article {
  float: right;
  width: 36em;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.5;
  font-size: 18px;
}

a {
  color: #00445b;
  text-decoration: none;
}

p {
  margin: 0.5em 0em 0.5em;
}

li {
  margin: 0.25em 0em;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 2em;
}

h2 {
  padding: 1em 0 1em 0;
  font-style: oblique;
}

.task-list-item-checkbox  {
  margin-right: 1em;
}

table, th, td {
  padding: 0.25em;
  border-collapse: collapse;
}

strong {
  font-weight: bold;
}

img {
  right: 0em;
  max-width: 100%;
}
