<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/assets/css/reset.css"/>
			<link rel="stylesheet" type="text/css" href="/assets/css/article.css">
      <style>
        body {
					background-color: {{page.bg}};
					color: {{page.fg}};
				}

				a {
					color: {{page.link}};
				}

				a:hover {
					color: {{page.linkhover}}
				}

				table, th, td {
					background-color: {{page.tablebg}};
				}
      </style>
		</head>
		<body>
			<div class="site-name"><a href="/">Park</br>Imminent</a></div>
			<div class="container">
				<div class="c_article">
					<h1>{{ page.title }}</h1>
					<div class="meta">
						{% if page.update and page.date %}
							Published {{ page.date | date: "%-d %B %Y" }}, last updated {{ page.update | date: "%-d %B %Y"}}
						{% elsif page.date %}
							Published {{ page.date | date: "%-d %B %Y" }}
						{% endif %}

						{% if page.location %}
							</br>{{ page.location }}
						{% endif %}

						{% if page.original-author %}
							</br>Original recipe by {{ page.original-author }}
						{% endif %}

						{% if page.original-source %}
					</br>from <em>{{ page.original-source }}</em>
						{% endif %}

						{% if page.original-url %}
					</br>from <em>{{ page.original-url }}</em>
						{% endif %}

					</div>
					{{ content }}
				</div>
			</div>
		</body>
	</html>
