<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/assets/css/reset.css"/>
			<link rel="stylesheet" type="text/css" href="/assets/css/article.css">
      <style>
        body {
					background-color: {{page.bg}};
					color: {{page.fg}};
				}

				a {
					color: {{page.link}};
				}
      </style>
		</head>
		<body>
			<div class="site_name"><a href="/">Park Imminent</a></div>
			<div class="container">
				<div class="c_title">
					<h1>{{ page.title }}</h1>
				</div>
				<div class="c_article">
					{{ content }}
				</div>
			</div>
		</body>
	</html>
