<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/assets/css/reset.css"/>
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
      <style>
        body {
					background-color: {{page.bg}};
					color: {{page.fg}};
				}

				a {
					color: {{page.link}};
				}

				a:hover {
					color: {{page.linkhover}}
				}
      </style>
		</head>
		<body>
			<div class="site-name"><a href="/">Park</br>Imminent</a></div>
			<div class="container">

			{{ content }}

			</div>
		</body>
	</html>
